flows.json
[{"id":"5c9ecef1.0557b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"90f95a23.aa8b28","type":"debug","z":"5c9ecef1.0557b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"1f90d1a8.ceb5ee","type":"function","z":"5c9ecef1.0557b","name":"","func":"var arrObj = [];\nvar arrObj2 = [];\nvar arrObjData = [];\nvar arrObjEmail = [];\nvar arrObjTipo = [];\n\nvar obj = JSON.stringify(msg.payload, function(key, value) {\n    arrObj.push(value);\n})\n\n\n//for (index = 0; index < arrObj.length; index++) { \n//    console.log(array[index]); \n//} \n\n\n//arrObj.forEach(function(entry) {\n//    msg.payload += entry.Date+': '+entry.Sensor +\";\"; \n//});\n\n//http://192.168.0.101/email?email=heitormarfurte1@gmail.com&tipo=2\nvar urlI= \"http://192.168.0.101/email?\";\nvar urlF;\n\nfor (var prop1 in arrObj[0]) {\n \tvar sub1 = arrObj[0][prop1];\n    //arrObj2.push(arrObj[prop1]);\n    for (var prop2 in arrObj[0][prop1]) {\n \t    var sub2 = arrObj[0][prop1][prop2];\n \t    arrObj2.push(arrObj[0][prop1][prop2]);\n        arrObjData.push(arrObj[0][prop1][prop2][\"data\"]);\n        arrObjEmail.push(arrObj[0][prop1][prop2][\"email\"]);\n        arrObjTipo.push(arrObj[0][prop1][prop2][\"tipo\"]);\n        //arrObj[0][prop1][prop2][\"email\"]\n        //heitormarfurte1@gmail.com\n        urlF = urlI + \"email=\" + arrObj[0][prop1][prop2][\"email\"] + \"&tipo=\" +arrObj[0][prop1][prop2][\"tipo\"];\n        node.send({url: urlF,method:\"GET\"});\n    }\n    //if (typeof(sub) == \"object\") {\n\t//    parseObjectKeys(sub);\n    //}\n}\n//msg.payload=arrObjSensor;\n//return msg;\n//var data = msg.payload;\n//msg.payload = [{\n//    //\"series\": [\"X\", \"Y\", \"Z\" ],\n//    \"data\": [ arrObjData ],\n//    \"email\": [ arrObjEmail ],\n//    \"tipo\": [ arrObjTipo ]\n//}];\n\nreturn;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["5b299fc.966a76"]]},{"id":"e7ec3ad1.240188","type":"firebase.on","z":"5c9ecef1.0557b","name":"Sensor1","firebaseconfig":"","childpath":"/teste/","atStart":true,"eventType":"value","queries":[],"x":360,"y":260,"wires":[["1f90d1a8.ceb5ee"]]},{"id":"5b299fc.966a76","type":"http request","z":"5c9ecef1.0557b","name":"Teste","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":260,"wires":[["90f95a23.aa8b28"]]}]